/* Put your CSS here */
html, body {
    margin-top: 60px;
}
.headline-number-users { font-size: 84px; color: #006633;font-weight: bolder;}
.headline-number-events { font-size: 84px; color: #3333cc;font-weight: bolder;}
.headline-number-snapshots { font-size: 84px; color: #cc3300; font-weight: bolder;}
.headline-number-flags { font-size: 84px; color: #660000; font-weight: bolder;}
.headline { font-size: 24px; padding: 30px 0 30px 0; }
