<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>uLink Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- Logged Out View -->
<script type="text/x-handlebars" data-template-name="auth">
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            {{#if App.AuthController.hasValidationErrors}}
                <span class="alert-error">Houston, we have a problem.</span><br />
            {{/if}}
            {{view Ember.TextField target="App.AuthController" action="authenticate" classNames="input-block-level" valueBinding="email" placeholder="Email address"}}
            {{view Ember.TextField action="authenticate" classNames="input-block-level" valueBinding="password" type="password" placeholder="Password"}}
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-large btn-primary" {{action "authenticate"}}>Sign in</button>
        </form>
    </div> <!-- /container -->
</script>


<!-- Nav header -->
<script type="text/x-handlebars" data-template-name="_navbar">
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
            <div class="container">
             <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="brand" {{#linkTo 'dashboard'}}{{unbound App.title}}{{/linkTo}}</a>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Modules <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation">{{#linkTo 'dashboard'}}Dashboard{{/linkTo}}</li>
                        <li role="presentation">{{#linkTo 'users'}}Users{{/linkTo}}</li>
                        <li role="presentation">{{#linkTo 'events'}}Events{{/linkTo}}</li>
                        <li role="presentation">{{#linkTo 'suggestions'}}Suggestions{{/linkTo}}</li>
                        <li role="presentation">{{#linkTo 'flags'}}Flags{{/linkTo}}</li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a {{action "deauthenticate" target="controllers.auth"}}><i class="icon-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
            </div><!--/.nav-collapse -->
            </div>
            </div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="dashboard">
    {{partial navbar}}
    <div class="container">
        {{#each item in model}}
        <div class="row">
            <div class="span6 headline">
                <span class="headline-number-users">{{#if item.num_of_users}}{{item.num_of_users}}{{else}}0{{/if}}</span> <a href="#about">Users</a>
            </div>
            <div class="span6 headline">
                <span class="headline-number-events">{{#if item.num_of_events}}{{item.num_of_events}}{{else}}0{{/if}}</span> <a href="#about">Events</a>
            </div>
        </div>

        <div class="row">
            <div class="span6 headline">
                <span class="headline-number-snapshots">{{#if item.num_of_snapshots}}{{item.num_of_snapshots}}{{else}}0{{/if}}</span> <a href="#about">Snapshots</a>
            </div>
            <div class="span6 headline">
                <span class="headline-number-flags">{{#if item.num_of_flags}}{{item.num_of_flags}}{{else}}0{{/if}}</span> <a href="#about">Flags</a>
            </div>
        </div>
        {{/each}}
        <hr>
        <footer>
            <p>&copy; uLink, Inc. {{App.year}}.  All Rights Reserved.</p>
        </footer>
    </div> <!-- /container -->
</script> <!-- /dashboard template -->



<script type="text/x-handlebars" data-template-name="users">
    {{partial navbar}}
    <div class="container">
        <h1>User Management <span class="label label-info">(No actions work yet.)</span></h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Active</th>
                <th>AutoPass</th>
                <th>Deactive</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Actions</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            {{#each model}}
            <tr>
                <td>{{view Ember.Checkbox checkedBinding="active"}}</td>
                <td>{{view Ember.Checkbox checkedBinding="autopass"}}</td>
                <td>{{view Ember.Checkbox checkedBinding="deactive"}}</td>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{school_name}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {{#if isDirty}}
                            <li><a {{action 'save'}}>Save All Changes</a></li>
                            {{/if}}
                            <li><a {{action 'edit'}}>Edit</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </td>
                {{#if isError}}
                <td><span class="label label-important">Error</span></td>
                {{else}}
                {{#if isDirty}}
                <td><span class="label label-warning">Changed</span></td>
                {{else}}
                <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                {{/if}}
                {{/if}}
            </tr>
            {{/each}}
            </tbody>
        </table>
        <hr>
        <footer>
            <p>&copy; uLink, Inc. {{App.year}}.  All Rights Reserved.</p>
        </footer>
    </div> <!-- /container -->
</script> <!-- /users template -->



<script type="text/x-handlebars" data-template-name="suggestions">
    {{partial navbar}}
    <div class="container">
        <h1>Suggestion Management <span class="label label-info">(No actions work yet.)</span></h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            {{#each model}}
            <tr>
                <td>{{name}}</td>
                <td>{{created}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </td>
                {{#if isError}}
                <td><span class="label label-important">Error</span></td>
                {{else}}
                {{#if isDirty}}
                <td><span class="label label-warning">Changed</span></td>
                {{else}}
                <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                {{/if}}
                {{/if}}
            </tr>
            {{/each}}
            </tbody>
        </table>
        <hr>
        <footer>
            <p>&copy; uLink, Inc. {{App.year}}.  All Rights Reserved.</p>
        </footer>
    </div> <!-- /container -->
</script> <!-- /suggestions template -->


<script type="text/x-handlebars" data-template-name="flags">
    {{partial navbar}}
    <div class="container">
        <h1>Flags Management <span class="label label-info">(No actions work yet.)</span></h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Reported By</th>
                <th>Content</th>
                <th>Type</th>
                <th>Date</th>
                <th>Actions</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            {{#each model}}
            <tr>
                <td>{{reporter_user_id}}</td>
                <td>
                    {{#if snap_id}}Snap{{/if}}
                    {{#if event_id}}Event{{/if}}
                    {{#if listing_id}}Listing{{/if}}
                </td>
                <td>
                    {{#if inappropriate}}Inappropriate{{/if}}
                    {{#if miscategorized}}Miscategorized{{/if}}
                    {{#if spam}}Spam{{/if}}
                </td>
                <td>{{created}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a {{action 'view'}}>View Content</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </td>
                {{#if isError}}
                <td><span class="label label-important">Error</span></td>
                {{else}}
                {{#if isDirty}}
                <td><span class="label label-warning">Changed</span></td>
                {{else}}
                <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                {{/if}}
                {{/if}}
            </tr>
            {{/each}}
            </tbody>
        </table>
        <hr>
        <footer>
            <p>&copy; uLink, Inc. {{App.year}}.  All Rights Reserved.</p>
        </footer>
    </div> <!-- /container -->
</script> <!-- /flags template -->

<script type="text/x-handlebars" data-template-name="events">
    {{partial navbar}}
    <div class="container">
       {{#if isEditing}}
        {{partial 'events/edit'}}
       {{else}}
        <h1>Event Management <span class="label label-info">(Save only right now.)</span></h1>
        <table class="table table-bordered table-hover">
            <thead id="events-table">
                <tr>
                    <th>Active</th>
                    <th>Featured</th>
                    <th>School</th>
                    <th>Submitted By</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Actions</th>
                    <th>State</th>
                </tr>
             </thead>
                <tbody>
               {{#each model}}
               <tr>
                   <td>{{view Ember.Checkbox checkedBinding="active"}}</td>
                   <td>{{view Ember.Checkbox checkedBinding="featured"}}</td>
                   <td>{{school_name}}</td>
                   <td>{{user_name}}</td>
                   <td>{{title}}</td>
                   <td>{{info}}</td>
                   <td>{{date}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                {{#if isDirty}}
                                <li><a {{action 'save'}}>Save All Changes</a></li>
                                {{/if}}
                                <li><a {{action 'edit'}}>Edit</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                        {{#if isError}}
                            <td><span class="label label-important">Error</span></td>
                        {{else}}
                            {{#if isDirty}}
                            <td><span class="label label-warning">Changed</span></td>
                            {{else}}
                            <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                        {{/if}}
                       {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <hr>
        <footer>
            <p>&copy; uLink, Inc. {{App.year}}.  All Rights Reserved.</p>
        </footer>
    </div> <!-- /container -->
</script> <!-- /events template -->

<script type="text/x-handlebars" data-template-name="events/_edit">
    {{partial navbar}}
    <div class="container form-horizontal">
        <h1>Edit Event</h1>
        <div class="control-group">
            <label class="control-label" for="">Active</label>
            <div class="controls">
                {{view Ember.Checkbox checkedBinding="active"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">Featured</label>
            <div class="controls">
                {{view Ember.Checkbox checkedBinding="featured"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">Title</label>
            <div class="controls">
                {{view Ember.TextField valueBinding='title'}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">Description</label>
            <div class="controls">
                {{view Ember.TextArea valueBinding='info'}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">Location</label>
            <div class="controls">
                {{view Ember.TextField valueBinding='location'}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">Time</label>
            <div class="controls">
                {{view Ember.TextField valueBinding='time'}}
            </div>
        </div>
        <div class="row">
            <button class="btn" {{action 'doneEditing'}}>Cancel</button>
            <button class="btn btn-primary" {{action 'doneEditing'}}>Save</button>
        </div>
        </div>
</script>
<script src="js/libs/jquery-1.9.1.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/handlebars-1.0.0-rc.3.js"></script>
<script src="js/libs/ember.js"></script>
<script src="js/libs/ember-data.js"></script>
<script src="js/app.js"></script>
</body>
</html>
